.home{
  background-image: url(../../assets/img/main-Photo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: calc(100vh - 140px);
  border-radius: 0px 0px 0px 140px;
  display: flex;
  align-items: center;
  @media (max-width: 767px){
    min-height: calc(100vh - 50px);
  } 
}

.home__position{
  width: 100%;
}

.home__wrapper{
  max-width: 567px;
}

.home__title{
  font-family: 'DM Serif Display', serif;
  font-size: 8.5rem;
  line-height: 125%;
  margin: 0;
}

.home__text{
  margin-top: 5px;
}

.home__btn{
  @extend %btn-dark;
  margin-top: 20px;  
  &:hover .home__btn-arrow{
    fill: $color-btn-dark;
  }
}

.home__btn-arrow{
  fill: $color-btn-light;
  transition: all 0.3s;
}

.more__wrap{
  display: flex;
  justify-content: space-between;
  @media (max-width: 1100px){
    flex-direction: column;
    align-items: center;
  }
}

.more__item{
  max-width: 350px;
  text-align: center;
  margin: 5rem 0;
  
}

.more__item-title{
  font-size: 2.5rem;
  font-family: 'DM Serif Display', serif;
  line-height: 125%;
}

.more__item-text{
  margin-top: 20px;
}

.more__link{
  display: inline-block;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 125%;
  letter-spacing: 0.36px;
  text-decoration: none;
  color: $color-text;
  margin-top: 5rem;
  transition: all 0.3s;
  @media (max-width: 560px){
    margin-top: 3rem;
  } 
}

.more__arrow{
  margin-left: 10px;
  margin-bottom: -5px;
}

.create__wrap{
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media (max-width: 1000px){
    flex-direction: column-reverse;
  }
}

.create__content{
  flex: 0 1 49%;
}

.create__title{
  max-width: 425px;
  @media (max-width: 1000px){
    margin-top: 25px;
  }
}

.create__text{
  margin-top: 4rem;
  max-width: 472px;
}

.create__contacts{
  display: flex;
  margin-top: 4.5rem;
  align-items: center;
  gap: 15px;
}

.create__img{
  background-color: $background-beige;
  border-radius: 50%;
  width: 93px;
  height: 93px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
  &:hover{
    background-color: darken($background-beige, 7% );
  }
  &:hover .create__svg{
    fill: $color-text;
  }
}

.create__svg{
  fill: $color-btn-light;
  width: 35px;
  height: 35px;
  transition: all 0.3s;  
}

.create__number-number{
  text-decoration: none;
  color: $color-text;
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0.24px;
  transition: all 0.3s;
  &:hover{
    color: $color-btn-light;
  }
}

.create__number-call{
  font-size: 2.2rem;
  line-height: 150%;
  letter-spacing: 0.22px;
}

.create__btn{
  margin-top: 4.5rem;
  @extend %btn-dark;
  &:hover .create__btn-arrow{
    fill: $color-btn-dark;
  }
  
}

.create__photo{
  flex: 0 1 49%;
  overflow: hidden;
  border-radius: 0px 327px 0px 123px;
  max-width: 653px;
  width: 100%;
  max-height: 700px;
  height: 100%;
  img{
    object-fit: cover;
  }
  @media (max-width: 1000px){
    max-height: 550px;
    border-radius: 0px 180px 0px 90px;
  }
}

.what__bacgr{
  background-color: $background-beige;
  padding: 88px 24px;
  border-radius: 50px;
  @media (max-width: 560px) {
    padding: 40px 10px;
    border-radius: 25px;
  }
}

.what__title{
  text-align: center;
  max-width: 547px;
  margin: 0 auto;
}

.what__wrap-item{
  display: flex;
  justify-content: space-between;
  gap: 10px;
  @media (max-width: 1270px) {
    justify-content: space-around;
    flex-wrap: wrap;
  }
}

.what__item{
  background-color: $background-white;
  border-radius: 20px;
  width: 370px;
  height: 340px;
  padding: 53px 37px 37px;
  margin-top: 37px;
  box-sizing: border-box;
  @media (max-width: 560px) {
    padding: 34px 15px 15px;
    margin-top: 20px;
    height: 270px;
  }
}

.what__item-wrap-name{
  display: flex;
  align-items: center;
  gap: 20px
}

.what__name-photo{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
}

.what__name-photo-photo{
  object-fit: cover;
  width: 100%;
}

.what__item-name-name{
  font-family: 'DM Serif Display', serif;
  font-size: 2.5rem;
  line-height: 150%;
  letter-spacing: 0.25px;
}

.what__item-name-land{
  font-size: 1.8rem;
  line-height: 150%;
  letter-spacing: 0.18px;
}

.what__item-text{
  margin-top: 20px;
}

.clients{
  padding: 5rem 0;
}

.clients__wrap{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  gap: 15px;
  img{
    @media (max-width: 560px) {
      width: 22%;
    }
  }
}

.follow{
  padding-bottom: 15rem;
}

.follow__title{
  text-align: center;
}

.follow__text{
  text-align: center;
  max-width: 737px;
  margin: 5px auto 9rem;
}

.follow__item-wrap{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px 100px;
  @media (max-width: 870px){
    grid-template-columns: 1fr;
  }
}

.follow__item-img-wrap{
  overflow: hidden;
}

.follow__item{
  height: 100%;
}

.follow__item-1{
  border-radius: 0 80px 0 0;
}
.follow__item-2{
  border-radius: 80px 0 0 0;
}
.follow__item-3{
  border-radius: 0 0 80px 0;
}
.follow__item-4{
  border-radius: 0 0 0 80px;
}


.follow__item-img{
  width: 100%;
}

.follow__item-menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.follow__item-name{
  font-family: 'DM Serif Display', serif;
  font-size: 2.5rem;
  line-height: 125%;
  letter-spacing: 0.5px;
}

.follow__item-menu-right{
  @extend %btn-circle;
}

.counter{
  background-color: $background-beige;
  padding: 15rem 0;
  @media (max-width: 560px){
    padding: 10rem 0;
  }
}

.counter__wrap{
  display: flex;
  justify-content: space-around;
  align-items: stretch;
}

.counter__number{
  font-family: 'DM Serif Display', serif;
  text-align: center;
  font-size: 85px;
  line-height: 125%;
  letter-spacing: 1.7px;
  color: $color-btn-light;
  @media (max-width: 560px){
    font-size: 45px;
  }
}

.counter__text{
  margin-top: 10px;
  @media (max-width: 560px){
    font-size: 13px;
    text-align: center;
  }
}

.counter__bord{
  text-align: center;  
  width: 2px;
  background-color: $color-btn-light;
}

.article{
  padding: 20rem 0 10rem;
}

.article__title{
  text-align: center;
}

.article__text{
  text-align: center;
  max-width: 815px;
  margin: 15px auto 5rem;
}

.article__item{
  position: relative;
  box-sizing: border-box;
  padding: 2rem;
  border: 1px solid $color-border;
  border-radius: 5rem;
  background-color: $background-white;
  width: 382px;
  height: 521px;
  transition: all 0.3s;
  &:hover{
    background-color: $background-beige;
  }
  &:hover .article__img{
    transform: scale(1.1);
  }
  &:hover .article__item-btn{
    background-color: $background-white;
  }
}

.article__img-wrap{
  height: 290px;
  border-radius: 3.5rem 3.5rem 0 0;
  overflow: hidden;
  margin: 0 auto;
}

.article__img{
  @extend %photo-center;
  transition: all 0.5s;
}

.article__item-menu-wrap{
  display: flex;
  flex-direction: column;
  
}

.article__item-title{
  font-family: 'DM Serif Display', serif;
  font-size: 2.5rem;
  line-height: 125%;
  letter-spacing: 0.5px;
  max-width: 318px;
  margin-top: 1.5rem;
}

.article__item-menu{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.article__item-data{
  position: absolute;
  bottom: 45px;
  left: 25px;
  font-size: 1.6rem;
  line-height: 150%;
  letter-spacing: 0.16px;
}

.article__item-btn{
  position: absolute;
  bottom: 35px;
  right: 20px;
  @extend %btn-circle;
  width: 52px;
  height: 52px;
}

.article__navigation{ 
  display: flex;
  justify-content: space-between;
  margin: 2rem auto 0;
  max-width: 382px;
  min-height: 0;
}

.article__btn-left,
.article__btn-right{
  @extend %btn-circle;
  min-width: 0;
}

.article__btn-left{
  transform: rotate(180deg);
}

.swiper {
  width: 100%;
  height: auto;
}

.invitation__content{
  background-color: $color-text;
  border-radius: 7rem;
  padding: 8rem 0;
  text-align: center;
}

.invitation__title,
.invitation__text{
  color: $background-white;
  // text-align: center;
}

.invitation__text{
  margin-top: 15px;
}

.invitation__link{
  @extend %btn-light;
  text-decoration: none;
  font-weight: 600;
  display: inline-block;
  margin: 35px auto 0;
}

.invitation__btn-arrow{
  fill: $color-text;
  margin-left: 10px;
  margin-bottom: -7px;
}

.about-form__submit{
  @extend %btn-dark;
  margin: 7rem auto 0;
}


